<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4" style="color: rebeccapurple; text-decoration: solid;">Rajan Sharma</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/rajan-kumar-sharma-709a17229/" class="" target="_blank" >
            <img src="social-logo/linkedin.svg" width="24" height="24" alt="" class="rounded-circle me-2" style="color: blue;" >
        </a>

        <a href="mailto:mr.sharmajeerajan@gmail.com" class="" target="_blank" >
            <img src="social-logo/envelope.svg" width="24" height="24" alt="" class=" me-2" style="color: blue;" >
        </a>

        <a href="https://github.com/SharmaRajan" class="" target="_blank" >
            <img src="social-logo/github.svg" width="24" height="24" alt="" class="rounded-circle me-2" style="color: blue;" >
        </a>

        
    </div>

</div>