<div class="container text-center">
    <button (click)="downloadCV()" class="btn btn-primary mb-5 shadow border">Download PDF Version</button>


    <div class="pb-2">

        <accordion [isAnimated]="true" class="shadow">
            <!-- Work Experience -->
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>

                    <!-- heading="Work Experience" -->
                     <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                     </div>
                    
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Software Engineer</h2>
                    <h3 class="text-primary">AWC Software</h3>
                    <ul>
                        <li>
                            <p>Jan 2023 - Dec 2023</p>
                            <p>Proficiently utilized Java 8, J2EE, Oracle DB, GitLab, Maven to streamline project workflows and enhance
                                efficiency at BirchStreet System project.
                            </p>
                            <p>Demonstrated flexibility and a commitment to skill enhancement through internal training sessions at AWC
                                Software mastering Spring REST, Spring MVC, Spring Security, Hibernate.
                            </p>
                        </li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Full Stack Developer Intern</h2>
                    <h3 class="text-primary">IEEE Bombay Young Professionals</h3>
                    <ul>
                        <li>
                            <p>Dec 2022 - Jan 2023</p>
                            <p>
                                Leveraged my skills in Figma, Svelte, MySQL, I played a key role in contributing to cutting edge software
                                solutions and database optimization.
                            </p>
                        </li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">SDE Intern - Java</h2>
                    <h3 class="text-primary">
                        Dhwani RIS
                        
                    </h3>
                    <ul>
                        <li>
                            <p>May 2022 - Aug 2022</p>
                            <p>
                                Developed and implemented new features for a web application, assisted in database optimization
                                resulting in increased user engagement and improved overall site performance.
                            </p>
                        </li>
                    </ul>
                </div>

            </accordion-group>

            <!-- Education -->
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <!-- heading="Education" -->
                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">B. Tech in Electrical and Electronics Engineering</h2>
                    <h3 class="text-primary">Aryabhatta Knowledge University</h3>
                    <ul>
                        <li>
                            Graduated from Darbhanga College of Engineering in July 2018
                        </li>
                        <li>
                            Graduated with a 8.59 GPA
                        </li>
                        <li>
                            Participated in extracurricular clubs such as the engineering club, the robotics club, the
                            robotics team, and more
                        </li>
                    </ul>
                </div>
            </accordion-group>

            <!-- Certification -->
            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certifications</div>

                    <!-- heading="Certifications" -->
                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationsOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h5 class="text-primary"><a href="https://www.udemy.com/certificate/UC-ca6f32b0-bf46-4244-83f3-287fc9c07d96/">Java Programming Masterclass</a></h5>
                    <!-- <ul>
                        <li>
                            Obtained June 2022
                        </li>
                        <li>
                            #98923402389
                        </li>
                    </ul> -->

                    <h5 class="text-primary"><a href="https://www.udemy.com/certificate/UC-c14367e1-7d8c-42c5-ab5f-de47d14ba006/">Mastering Data structure and algorithms using C and C++</a></h5>
                    <!-- <ul>
                        <li>
                            Obtained March 2022
                        </li>
                        <li>
                            #32f98bk39
                        </li>
                    </ul> -->
                </div>
            </accordion-group>

            <!-- Skills -->
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>

                    <!-- heading="Skills" -->
                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Programming Languages:</h3>
                        <ul>
                            <li>Core Java</li>
                            <li>C Sharp</li>
                            <li>C</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>Spring Boot</li>
                            <li>Hibernate</li>
                            <li>JPA</li>
                            <li>Angular</li>
                            <li>Node.js</li>
                            <li>ASP.NET</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3>Tools:</h3>
                        <ul>
                            <li>Maven</li>
                            <li>GIT</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3>Databases:</h3>
                        <ul>
                            <li>MySQL</li>
                            <li>Oracle</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <!-- <li>Source control via Git</li> -->
                            <li>MVC Architecture</li>
                            <li>Agile Development</li>
                        </ul>
                    </div>
                </div>
            </accordion-group>

        </accordion>
    </div>

</div>